NEXT_PUBLIC_APP_NAME=SEO Rank Tracker
GOOGLE_CLOUD_PROJECT=
BIGQUERY_DATASET=
BIGQUERY_LOCATION=asia-northeast1
GSC_PROPERTY_URI=
TARGET_SITE_HOST=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
WORDPRESS_BASE_URL=
WORDPRESS_AUTH_MODE=none
WORDPRESS_POST_TYPE=posts
WORDPRESS_POST_STATUSES=publish
WORDPRESS_USERNAME=
WORDPRESS_APPLICATION_PASSWORD=
WORDPRESS_APPLICATION_PASSWORD_SECRET_NAME=
